* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #d1d2d3;
}

/* light/dark toggle button */
.switch{
  background: #555459;
}
.toggle{
  display: none;
  cursor: pointer;
}
input[type="checkbox"].toggle + label {
  position: fixed;
  top: 10%;
  left: 36%;
  display: flex;
  z-index: 1;
  cursor: pointer;
}
input[type="checkbox"].toggle + label::before {
  content: "";
  width: 4rem;
  height: 2rem;
  background: #d1d2d3;
  border-radius: 3rem;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.5),
    inset 5px 5px 9px rgba(3, 4, 21, 0.5);
  transition: 0.5s;
}
input[type="checkbox"].toggle + label::after {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  background: #555459;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.5),
    5px 5px 9px rgba(3, 4, 21, 0.5);
  transition: 0.5s;
}
input[type="checkbox"].toggle:checked + label::before {
  background: #555459;
}
input[type="checkbox"].toggle:checked + label::after {
  left: 2.2rem;
  background: #d1d2d3;
  box-shadow: -2px -2px 9px rgba(255, 255, 255, 0.5),
    5px 5px 9px rgba(3, 4, 21, 0.5);
}

/* some animated squares for decorating */
.deco {
  position: absolute;
  height: 150px;
  width: 150px;
  margin: 20px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.5),
    5px 5px 9px rgba(3, 4, 21, 0.5);
}
.deco::after {
  content: "";
  position: absolute;
  background: #4ae485;
  width: 80%;
  z-index: -1;
  height: 80%;
  border-radius: 20px;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.5),
    inset 5px 5px 9px rgba(3, 4, 21, 0.5);
}
.b1 {
  bottom: 30%;
  left: 20%;
  animation: vertical 10s ease-in-out alternate infinite;
}
.b2 {
  right: 10%;
  top: 10%;
  animation: vertical 5s ease-in-out alternate infinite;
}
.b3 {
  top: 20%;
  left: 0;
  animation: horizontal 8s ease-in-out alternate infinite;
}
.b4 {
  top: 60%;
  right: 20%;
  animation: horizontal 4s ease-in-out alternate infinite;
}
@keyframes vertical {
  to {
    translate: 0 10rem;
  }
}
@keyframes horizontal {
  to {
    translate: 15rem;
  }
}

/* main container */
.box {
  position: relative;
  width: 30rem;
  height: 40rem;
  padding: 3rem 4rem;
  background: #d1d2d3;
  border-radius: 3rem;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.5),
    5px 5px 9px rgba(3, 10, 12, 0.5);
}
h2 {
  width: 100%;
  font-weight: 600;
  text-align: center;
  color: rgb(55, 54, 59);
  font-size: 2rem;
  margin-bottom: 1rem;
  text-shadow: -5px -5px 9px rgba(255, 255, 255, 0.5),
    5px 5px 9px rgba(3, 10, 12, 0.5);
}
#inputbx {
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  background: transparent;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.5),
    5px 5px 9px rgba(3, 10, 12, 0.5);
  transition: 0.3s;
}
/* list items design */
.box li {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(100% - 2rem);
  background: transparent;
  font-weight: 700;
  margin: 1rem;
  text-transform: uppercase;
  padding: 1rem 1rem 1rem 4rem;
  min-height: 2rem;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 2.5rem;
  outline: 0;
  color: rgb(55, 54, 59);
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.5),
    5px 5px 9px rgba(3, 4, 21, 0.5);
}
.box li::after {
  content: "";
  position: absolute;
  left: 0.3rem;
  width: 2rem;
  height: 2rem;
  transition: 0.5s;
  background: #d1d2d3;
  border-radius: 50%;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.5),
    5px 5px 9px rgba(3, 4, 21, 0.5);
}
.box li:hover::after {
  background: #4ae485;
}
/* design for cross button */
.box li p {
  position: absolute;
  right: -4rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 50%;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.5),
    5px 5px 9px rgba(3, 4, 21, 0.5);
  transition: 0.5s;
}
.box li p::before {
  content: "";
  position: absolute;
  width: 1.3rem;
  height: 0.2rem;
  background: rgb(55, 54, 59);
  rotate: 45deg;
}
.box li p::after {
  content: "";
  position: absolute;
  width: 1.3rem;
  height: 0.2rem;
  background: rgb(55, 54, 59);
  rotate: -45deg;
}
.box li p:hover {
  scale: 1.1;
  background: rgb(226, 74, 97);
}
/* design after listitem been completed */
.box li.done {
  background: rgb(55, 54, 59);
  color: white;
  transition: 0.5s;
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 1),
    -5px -5px 9px rgba(253, 254, 221, 0.5);
}
.box li.done:hover::after {
  background: #fe3636;
}
.box li.done::after {
  content: "";
  position: absolute;
  left: 0.3rem;
  width: 2rem;
  height: 2rem;
  transition: 0.5s;
  border-radius: 50%;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.5),
    5px 5px 9px rgba(3, 4, 21, 0.5);
}

#list {
  position: relative;
  margin-top: 2rem;
  height: 75%;
  overflow-y: auto;
  padding-right: 5rem;
}
/* designing custom scrollbar */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px rgb(44, 43, 42);
  border-radius: 2rem;
}
::-webkit-scrollbar {
  width: 0.6rem;
}
::-webkit-scrollbar-thumb {
  background: #2d2929;
  border-radius: 2rem;
}

/* media queries for responsive design */
@media (min-width: 1300px) and (max-width: 1400px) {
  .deco {
    width: 120px;
    height: 120px;
  }
}
@media (min-width: 1160px) and (max-width: 1300px) {
  .deco {
    width: 80px;
    height: 80px;
  }
}
@media (min-width: 700px) and (max-width: 1160px) {
  .deco {
    width: 50px;
    height: 50px;
  }
  .box {
    width: 35rem;
    height: 40rem;
    padding: 3rem;
  }
  input[type="checkbox"].toggle + label {
    position: fixed;
    left: 20rem;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .deco {
    display: none;
  }
  .box {
    width: 25rem;
    height: 38rem;
    padding: 2rem;
  }
  /* input[type="checkbox"].toggle + label {
    left: 12%;
  } */
}
@media (max-width: 500px) {
  .deco {
    display: none;
  }
  .box {
    width: 20rem;
    height: 38rem;
    padding: 1rem;
  }
  /* input[type="checkbox"].toggle + label {
    left: 10%;
  } */
}
